@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Karla', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Vollkorn', serif;
}
svg text {
  font-family: 'Droid', sans-serif;
}

a {
  color: black;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}
a:hover {
  text-decoration: none;
  color : #febd17;
}

p {
  font-size: 1.3em;
}
/* NAV BAR*/

.navbar-default {
  background-color: white;
}
/*Input Auteur*/

input {
    font-weight: 200;
    color: #febd17;
    font-size: 4em;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
    background: 0 0;
    display: block-inline;
    float: left;
    position: relative;
    z-index: 0;
    -webkit-transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -o-transition: color .2s ease-in-out,opacity .2s ease-in-out;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
}

.glyphicon-refresh {
  font-size: 50px;
  color: #a9a9a9;
  padding: 20px 0px 0px 20px;
}




/*Search */

.resultDate {
  color: #a9a9a9;
}

.loadingSearch {
/*  border-color: #febd17 !important;
  -moz-box-shadow: inset 0 1px 1px #febd17;
  -webkit-box-shadow: inset 0 1px 1px #febd17;
  -o-box-shadow: inset 0 1px 1px #febd17;
  box-shadow: inset 0 1px 1px #febd17;*/
}

.dropdown-menu {
  width: 580px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-menu > li > a {
  font-size: 1.6em;
  font-weight: 200;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #febd17;
  outline: 0;
}

/* STATS */

.stat {
  font-weight: 200;
  text-align: center;
}

.statAuthor {
  font-weight: 200;
  font-size: 2.7em;
  color: #a9a9a9;
}

.value {
  font-family: 'Vollkorn', serif; 
  font-size: 4em;
  color: #febd17;
}

.value-text {
  font-family: 'Vollkorn', serif; 
  font-size: 2em;
  color: #febd17;
}

.value-small {
  font-family: 'Vollkorn', serif; 
  font-size: 2em;
  color: #febd17; 
  text-align: left;

}

/* Home page*/
.head-line {
}
.head-line h1 {
  font-size: 3.5em;
}

/* AUTHOR PAGES */

.bookFront {
    width: 155px;
    height: 250px;
}
.bookWarp {

  padding-top: 15px;

}
.bookWarp:hover {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


/*.bookFront:hover {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-36px) rotateY(90deg);
    transform: translateX(-36px) rotateY(90deg);
}
*/
/* VIS TIMELINE */

.vis.timeline .item.E {
  border-color: #dddddd;
  background-color: #C44D58;
}

.vis.timeline .item.D {
  border-color: #dddddd;
  background-color: #556270;
}

.vis.timeline .item.L1, .vis.timeline .item.L2, .vis.timeline .item.L3 {
  border-color: #dddddd;
  background-color: #C7F464;
}

.vis.timeline .item.M1, .vis.timeline .item.M2, .vis.timeline .item.M3 {
  border-color: #dddddd;
  background-color: #4ECDC4;
}


/* ISSUES PAGES */

body {
  background-color: #f7f7f7;
}



.headBibli {
/*  border: 1px solid black;
*/  margin: 10px 0px;
/*  background-color: white;
*/}

.headBibli h2 {
  color: #febd17;
  font-weight: 100;
  font-size: 4em;
  margin-top :0px;
}
.headBibli h2 span {
  color: #a9a9a9;
  font-weight: 100;
  font-size: 0.6em;

}
.headBibli h4 {
  font-weight: 200;
  font-size: 2em;
}

.infoBibli {
  border: 1px solid #dfe1e8;
  background-color: white;
  margin: 15px 0px;
  padding: 10px 0px;
  font-size: 1.3em;

}

.statsBibli {
  border: 1px solid #dfe1e8;
  margin: 15px 0px;
  background-color: white;

}

.timelineWarp {
  padding: 0px 15px 20px 15px;
}

.timelineWarp .itemInfos {
  font-size: 1.1em;
  padding: 10px 0px 0px 0px;
}


.vis.timeline .item.selected {
border-color: black;
opacity: 0.5;
z-index: 999;
}

.cartouche {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

footer {
  font-family: 'Droid', sans-serif;
  border-top: 1px solid #dfe1e8;
  background-color: #f9fafa;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 5px 0;
  margin-bottom: 20px;
}

footer .legend {
  text-transform: uppercase;
  font-weight: 700;
  color : #a5b1b9;
}

footer .period {
  color : #a5b1b9;
}

.cartouche.abstract h3 {
  padding-top: 20px;
}

.selectize-control {
  margin-top: 15px;
}

.nvtooltip {
  background-color: rgba(249,250,250,0.9);
  border: 0px;
  color: black;
  font-size: 13px;
  text-align: center;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

}

.nvtooltip h3 {
  margin: 0;
  padding: 4px 14px;
  line-height: 18px;
  font-weight: normal;
  background-color:transparent; 
  text-align: center;
  color: black;
  font-family: 'Droid', sans-serif;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius:  0;
}

.nvtooltip span {
  font-family: 'Vollkorn', serif;
  font-size: 25px;
}

nvd3-pie-chart.width-home svg {
  width: 200px;
  height: 200px;
  display: inline;
}

nvd3-pie-chart.width-400 svg {
  width: 400px;
  height: 400px;
  display: inline;
}

ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
}

ul.chart-legende {
  font-size: 1.3em;
}

.figure {
  height: 100%;
  overflow: hidden;
}

img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

img:hover {
  opacity: 1;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);  
}
