@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Karla', sans-serif;
  background-color: #f7f7f7;
}

/*.view-livre */
body.viewLivre{
  background: url(../images/covers/all_opacity.png) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

body.viewBook{
  background: url(../images/covers/deleuze.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Vollkorn', serif;
}
svg text {
  font-family: 'Droid', sans-serif;
}

a {
  color: black;
  -webkit-transition: color .2s ease-in;
  -moz-transition: color .2s ease-in;
  -o-transition: color .2s ease-in;
  transition: color .2s ease-in;
}
a:hover {
  text-decoration: none;
  color : #febd17;
}

p {
  font-size: 1.3em;
}

p.content:first-letter {
  font-size: 2em;

}

/* General button style (reset) */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* Button 1 */
.btn-1 {
  border: 3px solid black;
  color: black;
  font-size: 1.3em;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
  color: #febd17;
  background: #fff;
}
/* NAV BAR*/

.navbar-default {
  background-color: white;
}

.navbar-brand {
  background-color: #febd17;
  font-family: 'Vollkorn', serif;
}
.navbar-default a.navbar-brand   {
  color: white;
  font-size: 2.2em;
  padding: 20px 20px;
}

.navbar-default .navbar-nav > li > a {
  padding: 20px 20px;
  font-size: 1.2em;

}


.spinner {
  width: 350px;
  height: 220px;
  text-align: center;
  margin: auto;
  margin-top: 15%;
  background-color: white;
}

.spinner h3 {
  padding-top: 20px;
}
/* HEAD */


header {
  color :white;
  height: 600px;
  background: url(../images/covers/bu-site-web-autres.jpg) no-repeat center fixed; 
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */

}


#head-home {
  margin-top: 45px;
}

/*Input Auteur*/
.search-author-open, .search-livre-open{
  margin-top: 20%;
}

.search-author-close, .search-livre-close {
  margin-top: 55px;
}

form.search-book {
  border-bottom: 1px solid white;
}
form.search-author {
  border-bottom: 1px solid white;
}
.search-author-close form.search-author, .search-livre-close form.search-book {
  border-bottom: 1px solid #a9a9a9;
}


.search-author ::-webkit-input-placeholder  { /* WebKit browsers */
  color: white;
}
.search-author :-moz-placeholder {
  color: white;
}
.search-author ::-moz-placeholder {
  color: white;
} 
.search-author :-ms-input-placeholder {
  color: white;
}

.search-book ::-webkit-input-placeholder  { /* WebKit browsers */
  color: white;
}
.search-book :-moz-placeholder {
  color: white;
}
.search-book ::-moz-placeholder {
  color: white;
} 
.search-book :-ms-input-placeholder {
  color: white;
}


/*
.search-author-open form ::-webkit-input-placeholder  { 
  color: white;
}
.search-author-open form :-moz-placeholder {
  color: white;
}
.search-author-open form ::-moz-placeholder {
  color: white;
} 
.search-author-open form :-ms-input-placeholder {
  color: white;
}*/

.search-button {
  float: right;
  margin-top: 10px;
}

input {
    font-weight: 200;
    color: #febd17;
    width: 80%;
    font-family: 'Vollkorn', serif;
    color: #febd17;
    font-size: 4em;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
    background: 0 0;
    display: block-inline;
    float: left;
    position: relative;
    z-index: 0;
    -webkit-transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,opacity .2s ease-in-out;
    -o-transition: color .2s ease-in-out,opacity .2s ease-in-out;
    transition: color .2s ease-in-out,opacity .2s ease-in-out;
}

.glyphicon-refresh {
  font-size: 50px;
  color: #a9a9a9;
  padding: 20px 0px 0px 20px;
}

.help-block {
  color: white;
}



/*Search */

.resultDate {
  color: #a9a9a9;
}

.loadingSearch {
/*  border-color: #febd17 !important;
  -moz-box-shadow: inset 0 1px 1px #febd17;
  -webkit-box-shadow: inset 0 1px 1px #febd17;
  -o-box-shadow: inset 0 1px 1px #febd17;
  box-shadow: inset 0 1px 1px #febd17;*/
}

.dropdown-menu {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(255,255,255,.9);
}

.dropdown-menu > li > a {
  font-size: 1.6em;
  font-weight: 200;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #febd17;
  outline: 0;
}

/* STATS */

.stat {
  font-weight: 200;
  text-align: center;
}

.statAuthor {
  font-weight: 200;
  font-size: 2.7em;
  color: #a9a9a9;
}

.value {
  font-family: 'Vollkorn', serif; 
  font-size: 4em;
  color: #febd17;
}

.value-text {
  font-family: 'Vollkorn', serif; 
  font-size: 2em;
  color: #febd17;
}

.value-small {
  font-family: 'Vollkorn', serif; 
  font-size: 2em;
  color: #febd17; 
  text-align: left;

}

/* Home page*/
.head-line {
}
.head-line h1 {
  font-size: 3.5em;
}

/* AUTHOR PAGES */

.bookFront {
    width: 155px;
    height: 250px;
}
.bookFront-large {
  width: 350px;
  height: 510px;
  margin-bottom:20px;
}
.bookWarp {
  padding-top: 15px;
}
.bookWarp:hover {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


/*.bookFront:hover {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-36px) rotateY(90deg);
    transform: translateX(-36px) rotateY(90deg);
}
*/
/* VIS TIMELINE */

.vis.timeline .item.E {
  border-color: #dddddd;
  background-color: #C44D58;
}

.vis.timeline .item.D {
  border-color: #dddddd;
  background-color: #556270;
}

.vis.timeline .item.L1, .vis.timeline .item.L2, .vis.timeline .item.L3 {
  border-color: #dddddd;
  background-color: #C7F464;
}

.vis.timeline .item.M1, .vis.timeline .item.M2, .vis.timeline .item.M3 {
  border-color: #dddddd;
  background-color: #4ECDC4;
}


/* ISSUES PAGES */




.headBibli {
/*  border: 1px solid black;
*/  margin: 10px 0px;
/*  background-color: white;
*/}

.headBibli h2 {
  color: #febd17;
  font-weight: 100;
  font-size: 4em;
  margin-top :0px;
}
.headBibli h2 span {
  color: #a9a9a9;
  font-weight: 100;
  font-size: 0.6em;

}
.headBibli h4 {
  font-weight: 200;
  font-size: 2.5em;
}

.infoBibli {
  background-color: white;
  margin: 15px 0px;
  padding: 10px 0px;
  font-size: 1.5em;

}

.statsBibli {
  margin: 15px 0px;
  background-color: white;

}

.timelineWarp {
  padding: 0px 15px 20px 15px;
}

.timelineWarp .itemInfos {
  font-size: 1.1em;
  padding: 10px 0px 0px 0px;
}


.vis.timeline .item.selected {
border-color: black;
opacity: 0.5;
z-index: 999;
}

.cartouche {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

.cartouche.auteur {
  padding: 0px 10px;
}

footer.viz-footer {
  font-family: 'Droid', sans-serif;
  border-top: 1px solid #dfe1e8;
  background-color: #f9fafa;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 5px 0;
  margin-bottom: 20px;
}

footer .legend {
  text-transform: uppercase;
  font-weight: 700;
  color : #a5b1b9;
}

footer .period {
  color : #a5b1b9;
}

.cartouche.abstract h3 {
  padding-top: 20px;
}

.selectize-control {
  margin-top: 15px;
}

.nvtooltip {
  background-color: rgba(249,250,250,0.9);
  border: 0px;
  color: black;
  font-size: 13px;
  text-align: center;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

}

.nvtooltip h3 {
  margin: 0;
  padding: 4px 14px;
  line-height: 18px;
  font-weight: normal;
  background-color:transparent; 
  text-align: center;
  color: black;
  font-family: 'Droid', sans-serif;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius:  0;
}

.nvtooltip span {
  font-family: 'Vollkorn', serif;
  font-size: 25px;
}

nvd3-pie-chart.width-home svg {
  width: 200px;
  height: 200px;
  display: inline;
}

nvd3-pie-chart.width-400 svg {
  width: 400px;
  height: 400px;
  display: inline;
}

nvd3-pie-chart.width-300 svg {
  width: 300px;
  height: 300px;
  display: inline;
}

nvd3-pie-chart.width-350 svg {
  width: 350px;
  height: 350px;
  display: inline;
}

ul.chart-legende
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
}

ul.chart-legende {
  font-size: 1.3em;
}

.figure {
  height: 100%;
  overflow: hidden;
}

.figure img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.figure img:hover {
  opacity: 1;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);  
}


/*FOOTER */
footer.footer-end {
  margin-top: 90px;
  background-color: #262626;
  color: white;

}
.footer-end a {
  color:white;
}

.footer-end a:hover {
  color:#febd17;
}

.footer-end ul {
    font-size: 1.3em;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    text-transform: uppercase;
}
table {
  background-color: white;
}

th {
  vertical-align: middle;
}