<div id="about" class="container">
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="images/logo/prevu.jpg" />
		</div>
		<div class="col-md-6">
			<h2>Descriptif</h2>
			<p>

			</p>
			<p>

			</p>
		</div>
	</div>
	<div class="row">
		<h2>Financeur</h2>
		<div class="col-md-3">
			<img class="img-responsive img-thumbnail" src="images/logo/labex_web-develop-bleu-clair.png" />
		</div>
		<div class="col-md-9">
			<p>
				Ce projet est soutenu par le Labex Arts-H2H et la bibliothèque universitaire de Paris 8 et bénéficie d’une aide de l’ANR au titre du programme Investissements d’avenir (ANR-10-LABX-80-01).
			</p>
			<img class="img-thumbnail" src="images/logo/avenir.png" />	
		</div>
	</div>
	<div class="row">
		<h2>Partenaires</h2>
		<div class="col-md-3">
			<img class="img-responsive img-thumbnail" src="images/logo/logop8_noir.png" />
		</div>
		<div class="col-md-3">
			<img class="img-responsive img-thumbnail" src="images/logo/paragraphe.jpg" />
		</div>
		<div class="col-md-3">
			<img class="img-responsive img-thumbnail" src="images/logo/bup8.png" />
		</div>
		<div class="col-md-3">
			<img class="img-responsive img-thumbnail" src="images/logo/montreuil.png" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img class="img-responsive img-thumbnail" src="images/logo/condorcet.png" />
		</div>
		<div class="col-md-3">
			<img class="img-responsive img-thumbnail" src="images/logo/michigan_best.png" />
		</div>
		<div class="col-md-3">
			<img class="img-responsive img-thumbnail" src="images/logo/ensad.png" />			
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<div class="row">
		<h2>Prototype</h2>
		<div class="col-md-6">
			<h3>Conception</h3>
			<p>
				<ul>
					<li>Bourgeois Mehdi</li>
					<li>Darquié Gaétan</li>
					<li>Zouba Ouerdia</li>
				</ul>
			</p>
		</div>
		<div class="col-md-6">
			<h3>Technique</h3>
			<p>version 0.7
			<ul>
				<li>Angular.js - https://angularjs.org/</li>
				<li>Bootstrap - http://getbootstrap.com/</li>
				<li>d3 - http://d3js.org/</li>
				<li>nvd3 - http://nvd3.org/</li>
				<li>Vis.js - http://visjs.org/</li>
			</ul>
			</p>
		</div>
	</div>
</div>