<div class="row">
	<form name="searchForm" class="col-md-6 search-author">
		<input name="searchAuthor" type="text" ng-model="queryTerm" placeholder="Recherche d'un Auteur" typeahead="authors as authors.author_nom  for authors in suggestAuthors($viewValue) | filter:{author_nom:$viewValue}" typeahead-loading="isLoading" ng-class="{loadingSearch: isLoading}" typeahead-template-url="resultAuthorTemplate.html"  typeahead-min-length='3' typeahead-on-select="search()">
	</form>
	<div class="col-md-6">		
		<i ng-show="isLoading" class="glyphicon glyphicon-refresh"></i>
	</div>
	
	<p ng-show="searchForm.searchAuthor.minlength" class="help-block">Veuillez entrer au moins 3 caractères.</p>
</div>

<script type="text/ng-template" id="resultAuthorTemplate.html">
  <a>
    <span bind-html-unsafe="match.model.author_nom | typeaheadHighlight:query"></span>
	<span bind-html-unsafe="match.model.author_prenom"></span>
	<i class='resultDate' bind-html-unsafe="match.model.author_date"></i>
  </a>
</script>

<div class="result" ng-show="stats">
	<div  class="row statAuthor result">
		<div class="col-md-6">{{queryTerm.author_prenom}}</div>
		<div class="col-md-6">{{queryTerm.author_date}}</div>		
	</div>
	<div  class="row stat result">
	  <div class="col-md-2">
	    <h3>Documents</h3>
	    <span class="value">{{stats.docs}}</span>
	  </div> 
	  <div class="col-md-2">
	    <h3>Prêt Total</h3>
	    <span class="value">{{stats.issues}}</span>
	  </div>  
	  <div class="col-md-2">
	    <h3>Prêt Max</h3>
	    <span class="value">{{stats.issuesMax}}</span>
	  </div>
	  <div class="col-md-2">
	    <h3>Prêt Min</h3>
	    <span class="value">{{stats.issuesMin}}</span>
	  </div>   
	</div>
	<div class="row stat result">
	    <div class="col-md-2">
	    <h3>Renouvèlement‎</h3>
	    <span class="value">{{stats.renewals}}</span>
	  </div>           
	   <div class="col-md-2">
	    <h3>Prêt Homme</h3>
	    <span class="value">{{stats.male}}</span>
	  </div>           
	   <div class="col-md-2">
	    <h3>Prêt Femme</h3>
	    <span class="value">{{stats.female}}</span>
	  </div>                  
	   <div class="col-md-2">
	    <h3>Moyenne Années de publication</h3>
	    <span class="value">{{stats.years}}</span>
	  </div>           
	</div>
	<div class="row stat result">
		<div class="col-md-2">
			<h3>Langue</h3>
			<span class="value-small">
				<ul ng-repeat="langue in stats.langue">
					<li>{{langue.langue}} : {{langue.count}}</li>
				</ul>
			</span>
		</div>
		<div class="col-md-2">
			<h3>Pays</h3>
			<span class="value-small">
				<ul ng-repeat="pays in stats.pays">
					<li>{{pays.pays}} : {{pays.count}}</li>
				</ul>
			</span>
		</div>
	</div>


	<table class="table table-bordered table-striped table-condensed result" stupid-table>
		<thead>
			<tr>
				<th data-sort='int' >biblionumber</th>
				<th data-sort='string'>title</th>
				<th data-sort='string'>author</th>
				<th data-sort='string'>author_nom</th>
				<th data-sort='string'>author_prenom</th>
				<th data-sort='int'>publicationyear</th>
				<th data-sort='string'>ccode</th>
				<th data-sort='string'>isbn</th>
				<th data-sort='string'>itype</th>
				<th data-sort='string'>itemtype</th>
				<th data-sort='string'>itemcallnumber</th>
				<th data-sort='string'>collectiontitle</th>
				<th data-sort='string'>collectionvolume</th>
				<th data-sort='string'>pages</th>
				<th data-sort='string'>size</th>
				<th data-sort='string'>vedette_matiere</th>
				<th data-sort='string'>dewey</th>
				<th data-sort='string'>langue</th>
				<th data-sort='string'>pays</th>
				<th data-sort='int' data-sort-default='desc'>issues</th>
				<th data-sort='int'>renewals</th>
				<th data-sort='int'>Male</th>
				<th data-sort='int'>Female</th>
			</tr>
		</thead>
		<tr ng-repeat="book in books">
			<td>{{book.biblionumber}}</td>
			<td>{{book.title}}</td>
			<td>{{book.author}}</td>
			<td>{{book.author_nom}}</td>
			<td>{{book.author_prenom}}</td>
			<td>{{book.publicationyear}}</td>
			<td>{{book.ccode}}</td>
			<td>{{book.isbn}}</td>
			<td>{{book.itype}}</td>
			<td>{{book.itemtype}}</td>
			<td>{{book.itemcallnumber}}</td>
			<td>{{book.collectiontitle}}</td>
			<td>{{book.collectionvolume}}</td>
			<td>{{book.pages}}</td>
			<td>{{book.size}}</td>
			<td>{{book.vedette_matiere}}</td>
			<td>{{book.dewey}}</td>
			<td>{{book.langue}}</td>
			<td>{{book.pays}}</td>
			<td>{{book.issues}}</td>
			<td>{{book.renewals}}</td>
			<td>{{book.Male}}</td>
			<td>{{book.Female}}</td><td>
		</tr>
	</table>
</div>
