<div class="row">
  <form role="form" class="col-md-6">
      <input type="text" ng-model="queryTerm" placeholder="Recherche d'un Auteur" ng-change="search()">
  </form>
</div>
<!-- http://www.toptal.com/angular-js/a-step-by-step-guide-to-your-first-angularjs-app -->
<!-- http://blog.comperiosearch.com/blog/2013/10/24/instant-search-with-angularjs-and-elasticsearch/ -->
<table class="table table-bordered table-striped table-condensed result" stupid-table>
	<thead>
		<tr>
			<th data-sort='int' >biblionumber</th>
			<th data-sort='string'>title</th>
			<th data-sort='string'>author</th>
			<th data-sort='int'>publicationyear</th>
			<th data-sort='string'>ccode</th>
			<th data-sort='string'>isbn</th>
			<th data-sort='string'>itype</th>
			<th data-sort='string'>itemtype</th>
			<th data-sort='string'>itemcallnumber</th>
			<th data-sort='string'>collectiontitle</th>
			<th data-sort='string'>collectionvolume</th>
			<th data-sort='string'>pages</th>
			<th data-sort='string'>size</th>
			<th data-sort='string'>vedette_matiere</th>
			<th data-sort='string'>dewey</th>
			<th data-sort='string'>langue</th>
			<th data-sort='string'>pays</th>
			<th data-sort='int' data-sort-default='desc'>issues</th>
			<th data-sort='int'>renewals</th>
			<th data-sort='int'>Male</th>
			<th data-sort='int'>Female</th>
		</tr>
	</thead>
	<tr ng-repeat="book in books.search">
		<td>{{book.biblionumber}}</td>
		<td>{{book.title}}</td>
		<td>{{book.author}}</td>
		<td>{{book.publicationyear}}</td>
		<td>{{book.ccode}}</td>
		<td>{{book.isbn}}</td>
		<td>{{book.itype}}</td>
		<td>{{book.itemtype}}</td>
		<td>{{book.itemcallnumber}}</td>
		<td>{{book.collectiontitle}}</td>
		<td>{{book.collectionvolume}}</td>
		<td>{{book.pages}}</td>
		<td>{{book.size}}</td>
		<td>{{book.vedette_matiere}}</td>
		<td>{{book.dewey}}</td>
		<td>{{book.langue}}</td>
		<td>{{book.pays}}</td>
		<td>{{book.issues}}</td>
		<td>{{book.renewals}}</td>
		<td>{{book.Male}}</td>
		<td>{{book.Female}}</td><td>
	</tr>
</table>

