<!-- <div class="row">
  <form role="form" class="col-md-6">
      <input type="text" ng-model="queryTerm" placeholder="Recherche d'un Livre" ng-change="search()">
  </form>
</div> -->

<div class="row">
	<form name="searchForm" class="col-md-6 search-book">
		<input name="searchBook" type="text" ng-model="queryTerm" placeholder="Recherche d'un Livre" typeahead="books as books.title  for books in suggestBooks($viewValue) | filter:{title:$viewValue}" typeahead-loading="isLoading" ng-class="{loadingSearch: isLoading}" typeahead-template-url="resultBookTemplate.html"  typeahead-min-length='3' typeahead-on-select="search()">
	</form>
	<div class="col-md-6">
		<div class="col-md-2">
			<i ng-show="isLoading" class="glyphicon glyphicon-refresh"></i>
		</div>		
	</div>

	<p ng-show="searchForm.searchBook.minlength" class="help-block">Veuillez entrer au moins 3 caractères.</p>
</div>

<script type="text/ng-template" id="resultBookTemplate.html">
  <a>
    <span bind-html-unsafe="match.model.title | typeaheadHighlight:query"></span> -
   	<i class='resultDate' bind-html-unsafe="match.model.author_nom"></i>
 	<i class='resultDate' bind-html-unsafe="match.model.author_prenom"></i> -
   	 -
	<i class='resultDate' bind-html-unsafe="match.model.publicationyear"></i>
  </a>
</script>

<hr />

<div class="result" ng-show="stats">

<div class="head row">
	<div class="col-md-8">
		<div class="headBibli row">
			<div class="col-md-12">
				<h2>{{info.title}} <span>({{info.publicationyear}})</span></h2>
				<h4><i>{{info.author_nom}}, {{info.author_prenom}} - <span>({{info.author_date}})</span></i></h4>
			</div>
		</div>
		<div class="infoBibli row">
			<div class="col-md-12">
				<span>Collection : {{info.collectiontitle}}</span></br>
				<span>Pages : {{info.pages}}</span></br>
				<span>CCode : {{info.ccode}}</span></br>
				<span>Classement CDU : {{info.itemcallnumber}}</span></br>
			</div>
		</div>
		<div class="statsBibli row">
			<div class="col-md-6 text-center">
				<h3>Nombre d'emprunt</h3>
				<span class="value">{{stats.issues}}</span>
			</div>
			<div class="col-md-6 text-center">
				<h3>Nombre de renouvelement</h3>
				<span class="value">{{stats.renewals}}</span>
			</div>		
		</div>
	</div>
	<div class="col-md-4">
		<img src="{{covers.LargeImage}}">	
	</div>
</div>


	<div class="row stat result">
	<div class="row">
		<div ng-controller="PiechartCtrl" class="cartouche col-md-4">
			<h3>Type de prêts</h3>

			<nvd3-pie-chart
				data="stats.description"
			    id="pieCateogrycode"
				margin="{left:0,top:10,bottom:10,right:0}"
			    x="xFunctionCatCode()"
			    y="yFunction()"
			    width="350"
			    height="350"
			    tooltips="true"
			    showValues="true"
			    showLabels="true"
			    donut="true"
                interactive="true"
			    donutLabelsOutside="false"
			    >
			    <svg></svg>
			</nvd3-pie-chart>
		</div>
		<div ng-controller="PiechartCtrl" class="cartouche col-md-4">
			<h3>Sexe</h3>

			<nvd3-pie-chart
				data="stats.sex"
			    id="pieSex"
				margin="{left:0,top:10,bottom:0,right:0}"
			    x="xFunction()"
			    y="yFunction()"
			    width="350"
			    height="350"
			    tooltips="true"
			    showValues="true"
			    showLabels="true"
			    donut="true"
                interactive="true"
			    donutLabelsOutside="false">
			    <svg></svg>
			</nvd3-pie-chart>
		</div>
		<div class="col-md-4 cartouche">
		<h3>Moyenne d'âge des lecteurs</h3>
				<span class="value">{{averageAge}}</span>		
		</div>
	</div>	
<!-- 
		<div ng-controller="MultibarhorizchartCtrl">
			<nvd3-multi-bar-horizontal-chart
		    	data="statsIssueUfr"
		        id="ufrBarChart"
		        width="550"
		        height="300"
		        x="xFunction()"
			    y="yFunction()"
		        xAxisTickFormat="xAxisTickFormatFunction()"
		        yAxisTickFormat="yAxisTickFormatFunction()"
		        showValues="true">
		        	<svg></svg>
		    </nvd3-multi-bar-horizontal-chart>
		</div> -->
	<div ng-controller="DiscretebarchartCtrl" class="cartouche col-md-6">
		<h3>UFR</h3>
	    <nvd3-discrete-bar-chart 
	          data="statsIssueUfr"
	          id="statsIssueUfr"
	          margin="{left:80,top:20,bottom:40,right:50}"
	          showXAxis="true"
	          showYAxis="true"
	          showValues="true"
	          staggerLabels="true"
	          height="300"
	          tooltips="true"
	          y="yFunctionUfr()"
	          x="xFunctionUfr()"
	          yAxisTickFormat="yAxisTickFormatFunction()"
	          useInteractiveGuideLine="true">
	            <svg ></svg>
	    </nvd3-discrete-bar-chart>
	</div>
	<div ng-controller="DiscretebarchartCtrl" class="cartouche col-md-6">
		<h3>Niveau</h3>
	    <nvd3-discrete-bar-chart 
	          data="statsIssueNiveau"
	          id="statsIssueNiveau"
	          margin="{left:80,top:20,bottom:40,right:50}"
	          showXAxis="true"
	          showYAxis="true"
	          showValues="true"
	          staggerLabels="true"
	          height="300"
	          tooltips="true"
	          y="yFunctionNiveau()"
	          x="xFunctionNiveau()"
	          yAxisTickFormat="yAxisTickFormatFunction()"
	          useInteractiveGuideLine="true">
	            <svg ></svg>
	    </nvd3-discrete-bar-chart>
	</div>


<!-- 		<div class="col-md-2">
			<h3>Sexe</h3>
			<table class="table table-bordered table-striped table-condensed result" stupid-table>
				<thead>
					<tr>
						<th data-sort='string'>sex</th>
						<th data-sort='int'>count</th>
					</tr>
				</thead>
				<tr ng-repeat="sex in stats.sex">
					<td>{{sex.sex}}</td>
					<td>{{sex.count}}</td>
				</tr>
			</table>
		</div> -->
<!-- 		<div class="col-md-2">
			<h3>Niveau</h3>
			<table class="table table-bordered table-striped table-condensed result" stupid-table>
				<thead>
					<tr>
						<th data-sort='string'>Niveau</th>
						<th data-sort='int'>count</th>
					</tr>
				</thead>
				<tr ng-repeat="niveau in stats.niveau">
					<td>{{niveau.Niveau}}</td>
					<td>{{niveau.count}}</td>
				</tr>
			</table>			
		</div>
		<div class="col-md-2">
			<h3>UFR</h3>
			<table class="table table-bordered table-striped table-condensed result" stupid-table>
				<thead>
					<tr>
						<th data-sort='string'>Ufr</th>
						<th data-sort='int'>count</th>
					</tr>
				</thead>
				<tr ng-repeat="ufr in stats.ufr">
					<td>{{ufr.Ufr}}</td>
					<td>{{ufr.count}}</td>
				</tr>
			</table>			
		</div> -->

	
	</div>
	<div class="row result cartouche timelineWarp text-center">
		<h3>Historique des prêts</h3>		{{itemsTimeline.id}}
		<div id="visualization" vis-timeline value="issues"></div>
		<div class="itemInfos">
			<span class="dateStart"></span>
			<span class="dateEnd"></span>
			<span class="niveau"></span>
			<span class="ufr"></span>
			<span class="sex"></span>
		</div>
	</div>
		<div class="col-md-12">
			<h3>Etape</h3>
			<div >
					<span ng-repeat="etape in stats.etape">{{etape.Etape}} ({{etape.count}}) | </span>
			</div>
<!-- 			<table class="table table-bordered table-striped table-condensed result" stupid-table>
				<thead>
					<tr>
						<th data-sort='string'>Etape</th>
						<th data-sort='int'>count</th>
					</tr>
				</thead>
				<tr ng-repeat="etape in stats.etape">
					<td>{{etape.Etape}}</td>
					<td>{{etape.count}}</td>
				</tr>
			</table> -->			
		</div>

	
<!-- 	<h3>Liste des prêts</h3>
	<table class="table table-bordered table-striped table-condensed result" stupid-table>
		<thead>
			<tr>
				<th data-sort='int'>biblionumber</th>
				<th data-sort='string'>timestamp</th>
				<th data-sort='string'>issuedate</th>
				<th data-sort='string'>returndate</th>
				<th data-sort='string'>lastreneweddate</th>
				<th data-sort='int'>renewals</th>
				<th data-sort='int'>borrowernumber</th>
				<th data-sort='string'>sex</th>
				<th data-sort='int'>barcode</th>
				<th data-sort='string'>title</th>
				<th data-sort='string'>description</th>
				<th data-sort='string'>Ufr</th>
				<th data-sort='string'>Niveau</th>
				<th data-sort='string'>Etape</th>
			</tr>
		</thead>
		<tr ng-repeat="issue in issues">
			<td>{{issue.biblionumber}}</td>
			<td>{{issue.timestamp}}</td>
			<td>{{issue.issuedate}}</td>
			<td>{{issue.returndate}}</td>
			<td>{{issue.lastreneweddate}}</td>
			<td>{{issue.renewals}}</td>
			<td>{{issue.borrowernumber}}</td>
			<td>{{issue.sex}}</td>
			<td>{{issue.barcode}}</td>
			<td>{{issue.title}}</td>
			<td>{{issue.description}}</td>
			<td>{{issue.Ufr}}</td>
			<td>{{issue.Niveau}}</td>
			<td>{{issue.Etape}}</td>
		</tr>
	</table> -->
</div>
