<!-- ng-controller="MainCtrl" -->
    <!-- HEADER  -->
<header>
    <div class="container">
        <div id="head-home" class="row head-line">
            <div class="col-md-12 text-center">
                <h1>Visualiser les données de prêts d'une bibliothèque universitaire</h1><br/>
                <div class="col-md-offset-2 col-md-8">
                    <p class='content'>La plateforme <span class='value-text'>Prévu</span> (« prêts vus ») vise à ouvrir l'accès aux données de la <a href='http://www.bu.univ-paris8.fr/' target='_blank'>bibliothèque universitaire de Paris 8 (BU)</a> par le biais de visualisations.</p>
                    <p class='content'>La BU de Paris 8 à Saint-Denis compte plus de 400 000 documents. Située à Saint-Denis, au coeur de l’université, elle est accessible à tout étudiant ou à toute personne majeure.</p>
                </div>
                <div  class="col-md-12">
                <!-- mettre une fonction onclick surles boutons pour emmener aux ancres concernées -->
                    <a href="#/auteur"><button type='button' class="btn btn-default">Recherche par auteur</button></a>
                    <a href="#/livre"><button type='button' class="btn btn-default">Recherche par livre</button></a>
                </div>                
            </div>

            </div>
        </div>
    </div>
</header>    
    <!-- END HEADER  -->
<section  id="general" class="container">
    <!-- CORPUS -->
    <div class="row">
        <div  class="col-md-12 text-center">
            <h2>La bibliothèque par ses données</h2>
        </div>
        <div class='col-md-6'>
            <p class="content">Les données générales propres à la bibliothèque : l'ensemble des emprunteurs, l'ensemble des prêts effectués, la répartition des genres pour l'ensemble des prêts effectués, etc. permettent de rendre compte des grands phénomènes qui marquent la vie de la bibliothèque mais aussi de l'université.</p>
        </div>
        <div class='col-md-6 info'>
            <h3>Rythmes universitaires</h3>
            <p>Chaque année, la vie universitaire est marquée par le changement de semestre et par les périodes d'examen. Les prêts de la BU de Paris 8 mettent immédiatement en évidence les reprises de semestre (mois d'octobre et de février). Les prêts suivent les mêmes tendances.</p>
        </div>

        <!-- HISTORIQUE PRET -->
        <div class="head-line col-md-12">
            <head>
                <h3 class="text-center">Historique des prêts</h3>
            </head>
            <div class="cartouche" ng-controller="DiscretebarchartCtrl">
                <nvd3-line-chart
                data="statsIssuesAllByMonth"
                height="300"
                y="yFunctionIssues()"
                x="xFunctionIssues()"
                margin="{left:80,top:15,bottom:30,right:80}"
                interactive="true"
                tooltips="true"
                showXAxis="true"
                showYAxis="true"
                xAxisTickFormat="xAxisTickFormatFunction()"
                tooltipcontent="toolTipContentFunction()"
                color="colorFunction()"
                >
                <svg></svg>
                </nvd3-line-chart>
            </div>
            <footer class="col-md-12 viz-footer">
                <span class="legend">Période :</span>
                <span class="period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <!-- HISTORIQUE PRET END -->
</section>

<!-- Biblio -->
<section id="biblio" class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="cartouche abstract">
                <h3>Livres empruntés</h3>
                <span>au moins une fois</span>
                <h4><span class="value">153 331</span></h4>
                <div ng-controller="LinechartCtrl">
                    <nvd3-line-chart
                    data="books_count_graph"
                    height="130"
                    y="yFunction()"
                    x="xFunction()"
                    margin="{left:7,top:5,bottom:0,right:7}"
                    interactive="true"
                    forcey="[41500,45000]"
                    tooltips="true"
                    tooltipcontent="toolTipContentFunction()"
                    color="colorFunction()"
                    ><svg></svg>
                    </nvd3-line-chart>
                </div>
            </div>
            <footer class="viz-footer">
                <span class="legend">Période :</span> <span class=
                "period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <div class="col-md-4 text-center">
            <div class="cartouche abstract">
                <h3>Nombre de Prêts</h3>
                <span>sur l'ensemble de la période</span>
                <h4><span class="value">324 401</span></h4>
                <div ng-controller="LinechartCtrl">
                        <nvd3-line-chart
                        data="issues_count_graph"
                        height="130"
                        y="yFunction()"
                        x="xFunction()"
                        margin="{left:7,top:5,bottom:0,right:7}"
                        interactive="true"
                        forcey="[75000,85000]"
                        tooltips="true"
                        tooltipcontent="toolTipContentFunction()"
                        color="colorFunction()"
                        >
                        <svg></svg>
                        </nvd3-line-chart>
                </div>
            </div>
            <footer class="viz-footer">
                <span class="legend">Période :</span> <span class=
                "period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <div class="col-md-4 info" style="margin-top:20px;">
            <div>
                <h3 class='text-center'>Moins d'emprunteurs mais plus d'emprunts</h3>
                <p>Bien que le nombre de lecteurs et de prêts aient diminués entre les semestres de l’année universitaire 2012-2013, le nombre total de prêts total a progressé passant de <span class='value-text'>81257</span> à <span class='value-text'>82 762</span>.</p>
                <p>Il y a donc moins d'emprunteurs, mais dans l'ensemble, ils empruntent plus de documents.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Les prêts seulement</h3>
            <p>Prévu ne prend en compte tous les documents que possède la bibliothèque universitaire, il ne considère que les documents qui ont été empruntés au moins une fois. Ce choix à la fois éditorial et technique nous permet d'optimiser nos requêtes tout en resserant notre corpus sur les prêts.</p>
        </div>
        <div class="col-md-4 text-center">
            <div class="cartouche abstract">
                <h3 style="margin-top:0px;">Lecteurs Actifs</h3>
                <span>ayant pris au moins un livre</span>
                <h4><span class="value">32 449</span></h4>
                <div ng-controller="LinechartCtrl">
                    <nvd3-line-chart
                    data="borrowers_count_graph"
                    height="130"
                    y="yFunction()"
                    x="xFunction()"
                    margin="{left:7,top:5,bottom:0,right:7}"
                    interactive="true"
                    forcey="[9300,10500]"
                    tooltips="true"
                    tooltipcontent="toolTipContentFunction()"
                    color="colorFunction()"
                    >
                    <svg></svg>
                    </nvd3-line-chart>
                </div>
            </div>
            <footer class="viz-footer">
                <span class="legend">Période :</span> <span class="period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <div class="col-md-4">
            <h3>Autres perspectives</h3>
            <p>En plus des visualisations que nous choisissons de présenter dans le cadre de ce premier démonstrateur, nous pouvons dors et déjà accéder à de nombreuses autres informations dont l'exploitation pourrait faire, elle aussi, l'objet de développements et d'analyses, c'est le cas, pour n'en donner qu'un exemple, de la moyenne d'âge des emprunteurs dont nous savons qu'elle est de <span class=
            "value-text">{{borrowers_age}}</span> ans. De nombreux scénarios restent à imaginer.</p>
        </div>
    </div>
    <!-- END CORPUS -->
</section>
<!-- END Biblio -->

<!-- GENRE -->
<section id="genre">
    <div class="container">
         <div class='col-md-12 text-center' id='IF_sex'>
            <h2>Genre et bibliothèque</h2>
            <p>Pensez-vous qu'il soit nécessaire pour une bibliothèque de prendre en compte le sexe des lecteurs ?</p>
            <button class='btn' onclick="clearViz('#viz_sex2');launchViz('#viz_sex');">Oui</button>
            <button class='btn' onclick="clearViz('#viz_sex');launchViz('#viz_sex2')">Non</button>
        </div>
        <div class='col-md-12'>
            <div id='viz_sex'>
                <div class='col-md-8'>
                    <p>La grande majorité des lecteurs actifs de la BU de Paris 8 sont des femmes. Il est à noter que cela ne signifie pas que la répartition homme - femme de tous les lecteurs potentiels (c'est à dire ceux qui remplissent les conditions d'inscription à la bibliothèque) soit exactement la même que celle donnée par Prévu. Les lecteurs actifs que nous visualisons représentent seulement les lecteurs qui ont déjà empruntés au moins un ouvrage.</p>
                    <p>Il est possible d'utiliser ce ratio à différents niveaux : pour les ouvrages, les secteurs, les niveaux d'étude... Nous avons, par exemple, choisi de montrer pour chaque ouvrage le sexe des emprunteurs.</p> 
                    <p>Pour continuer notre présentation, nous proposons de nous intéresser justement aux lecteurs qui, en empruntant, contribuent à faire vivre la bibliothèque et génèrent les données.</p>
                </div>
                <div ng-controller="PiechartCtrl" class="col-md-4 text-center abstract" >
                    <h3>Répartition des prêts par sexe</h3>
                    <nvd3-pie-chart
                    class="width-home"
                    data="borrowers_sex"
                    margin="{left:0,top:10,bottom:10,right:0}"
                    x="xFunction()"
                    y="yFunctionBorrowersUfr()"
                    width="200"
                    tooltips="true"
                    showValues="true"
                    showLabels="true"
                    donut="true"
                    interactive="true"
                    donutLabelsOutside="false"
                    color="color_schem()"
                    >
                    <svg></svg>
                    </nvd3-pie-chart>

                    <ul class="chart-legende">
                        <li ng-repeat="borrower_sex in borrowers_sex">{{borrower_sex.sex}} :
                        {{borrower_sex.value}}</li>
                    </ul>    
                </div>
            </div>
            <div id='viz_sex2'>
                <div class='col-md-4'>
                    <h3>Articuler la pensée avec un corpus de données</h3>
                    <p>Nous espérons, à terme, faire de Prévu un outil permettant non seulement de susciter de la réflexion à partir du contenu informationnel généré par les données mais aussi par le biais des enjeux liés à la composition du corpus. Cette question relative au genre nous permet de donner un exemple de ces problématiques.</p>
                    </p>
                </div>
                <div class='col-md-4'><h3>Que doit-on montrer?</h3>
                    <p>Mettre en avant des inégalités est un premier moyen de les combattre, mais en même temps, trop insister sur des différences favorise les discriminations. Techniquement, il est à noter que les données propres au genre sont relativement faciles à exploiter, doit-on pour autant toujours les mettre en avant?</p> 
                </div>
                <div class='col-md-4'>
                    <p>A travers ce premier volet du projet, nous cherchons à définir les pistes de réflexion que peut susciter Prévu, nous espérons pouvoir, avec le travail autour de l'exploitation des données de genre, favoriser l'essor de visualisations originales et utiles et en même temps, dans le cadre des <i>digital humanities</i> et  de leur interdisciplinarité lancer des pistes de réfléxion notamment avec les <i>Gender Studies</i>. </p>
                </div>
            </div>
        </div>   
    </div>
</section>
<!-- END GENRE -->

<section>
    <div class="container">
        <!-- TWO PIE -->
        <div class="row">
            <head class="head-line col-md-12">
                <h2 class='text-center'>Connaître les lecteurs</h2>
            </head>
            <div class="col-md-6">
                <p>Depuis février 2012, <span class='value-text'>32449</span> lecteurs ont emprunté au moins un ouvrage à la BU de Paris 8. Qui sont ses lecteurs : sont-il étudiants?  de quels UFR et départements proviennent-ils? quel est leur niveau d'étude? quand empruntent-ils?</p>
            </div>
            <div class="col-md-6">
                <p>Tout en respectant l'anonymat des utilisateurs, nous proposons plusieurs représentations graphiques et corrélations visant à montrer les potentiels informationnels de la plateforme qui concernent les emprunteurs de bibliothèque universitaire.</p>
            </div>
        </div>
        <div class="row">
            <div ng-controller="PiechartCtrl" class="col-md-6 text-center">
                <div class="cartouche abstract">
                    <h3>Répartition des prêts par type de prêts</h3>
                    <nvd3-pie-chart
                    class="width-400"
                    data="issues_categoryCode"
                    margin="{left:0,top:10,bottom:10,right:0}"
                    x="xFunctionLabelTypePret()"
                    y="yFunctionBorrowersUfr()"
                    width="400"
                    tooltips="true"
                    showValues="true"
                    showLabels="true"
                    donut="true"
                    interactive="true"
                    donutLabelsOutside="true"
                    color="color_viz()"
                    >
                    <svg></svg>
                    </nvd3-pie-chart>
                </div>
                <footer class="viz-footer">
                    <span class="legend">Période :</span> <span class=
                    "period">2012-02-01 - 2014-02-01</span>
                </footer>
                <h4>Les types de prêts</h4>
                <p>Il existe plusieurs informations concernant l'orgine des lecteurs. La représentation ci-dessus permet de voir de quel type de prêt il est question. Les prêts "normaux" qui concernent principalement les étudiants de licence sont à distinguer des prêts longs généralement liés aux étudiants de Master, des prêts "doctorants", du prêt entre bibliothèque (PEB)...</p>
            </div>
            <div class="col-md-6 text-center">
                <div class="cartouche abstract">
                    <h3>Nombre de prêts par Ufr</h3>
                    <div ng-controller="MultibarhorizchartCtrl" >
                        <nvd3-multi-bar-horizontal-chart
                        data="issues_UfrRepartition"
                        height="400"
                        margin="{left:300,top:5,bottom:50,right:15}"
                        y="yFunction()"
                        x="xFunctionUfr()"
                        showXAxis="true"
                        showValues="true"
                        color="color_schem()"
                        >
                        <svg></svg>
                        </nvd3-multi-bar-horizontal-chart>
                    </div>
                </div>
                <footer class="viz-footer">
                    <span class="legend">Période :</span> <span class=
                    "period">2012-02-01 - 2014-02-01</span>
                </footer>
                <h4>Les unités de formation et de recherche (UFR)</h4>
                <p>Avec Prévu, il est également possible de connaître l'UFR d'origine des emprunteurs. La représentation graphique ci-dessus montre la domination de l'<i>UFR Arts, Philosophie, Esthétique</i> en terme de nombre d'emprunts. Toutefois ces données sont à relativiser car elles mériteraient d'être mise en lien avec le nombre total d'étudiants inscrits dans chaque UFR. </p>            
            </div>
        </div>
        <!-- END TWO PIE -->

        <!-- REPARTION NIVEAU -->
        <div class="row">
            <div class="col-md-12 cartouche">
                <head>
                    <div class="col-md-10">
                        <h3>Répartitions des Niveaux par Mois</h3>
                    </div>
                    <div class="col-md-2">
                        <ui-select ng-model="selectedSemestre" theme="selectize"  ng-change="setSemestre_issues_niveau_light(selectedSemestre)" style="width: 150px;"> 
                          <ui-select-match placeholder="Choisir un semestre...">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="semestre in semestres| filter: $select.search">
                            <span ng-bind-html="semestre.name | highlight: $select.search"></span>
                          </ui-select-choices>
                        </ui-select> 
                    </div>
                </head>
                <div ng-controller="StackedareachartCtrl" class="col-md-12">
                    <nvd3-multi-bar-chart
                    data="issues_niveau_light"
                    showXAxis="true"
                    showYAxis="true"
                    y="yFunction()"
                    x="xFunction()"
                    height="400"
                    margin="{left:80,top:50,bottom:50,right:50}"
                    interactive="true"
                    yAxisTickFormat="yAxisTickFormatFunction()"
                    xAxisTickFormat="xAxisTickFormatFunction()"
                    tooltips="true"
                    showLegend="true"
                    showControls="true"
                    color="color_viz()"
                    legendColor="color_viz()"
                    >
                    <svg></svg>
                    </nvd3-multi-bar-chart>
                </div>
            </div>
            <footer class="col-md-12 viz-footer text-center">
                <span class="legend">Période : </span>
                <span class="period">2012-02-01 - 2014-02-01</span>
            </footer>
            <div class='col-md-6'>
                <h4>Licence, Master, doctorat : qui emprunte le plus?</h4>
                <p>L'infographie interactive ci-dessus permet de voir le nombre d'emprunts effectués chaque mois par les étudiants selon leur niveau d'étude.</p>
                <p>Ces données mériteraient d'être, par la suite, pondérées en fonction du nombre de lecteurs pour chaque niveau d'étude :  nous observons que ce sont les étudiants de master qui empruntent le plus.</p>
            </div>
            <div class='col-md-6'>
                <h4>Provenance géographique des lecteurs</h4>
                <p>La <i>heat map</i> ci-dessous montre la provenance des lecteurs pour chaque emprunt effectué. Plus il y a de lecteurs originaires d'une zone et plus la zone se colore, mais en même temps, un même lecteur qui effectue beaucoup d'emprunts peut avoir un impact fort puisque chaque prêt compte.</p>
                <p>La carte montre que la plupart des lecteurs actifs résident près de l'université et dans le nord-est de Paris ainsi que dans le sud autour du quartier Montparnasse.</p>
            </div>
        </div>
        <!-- END REPARTION NIVEAU -->

    </div>
    <div>
        <div class="container">        
            <h3 class="text-center">Répartion géographique des lecteurs actifs</h3>
        </div>   
        <div id="map">
            <img src="images/heatmap.jpg" class="img-responsive map" />
        </div>
    </div>
</section>
<section id="ufr">
    <div class="container">
        <h2 class="text-center">S'intéresser aux données d'un UFR</h2>
        <!-- LIVRES PLUS POPULAIRES -->
        <div class='row'>
            <div class='col-md-6'>
                <h3>Circonscrire les données</h3>
                <p>En plus des informations d'ordre générique relatives à l'ensemble de la bibliothèque et de ses publics, il peut être particulièrement intéressant de mettre en avant des informations propres à certains UFR (unités de formation et de recherche) ou départements.</p></div>
            <div class='col-md-6'>
                <p>Un doctorant peut se demander par exemple quels sont les livres les plus empruntés dans son école doctorale, il est possible de suivre mois après l'évolution des prêts d'un UFR, de savoir en quels secteurs les livres sont les plus empruntés, de voir à quel point, l'UFR est tourné vers une discipline ou au contraire favorise l'interdisciplinarité.</p>
                <p>Nous pouvons connaître la moyenne d'âge des emprunteurs de chaque UFR, le ratio homme-femme, le nombre d'emprunteurs et le nombre de prêts.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 cartouche">
                <div class="col-md-8">
                    <h3>Livres les plus populaires par Ufr</h3>
                </div>
                <div class="col-md-4">
                    <ui-select class="pull-right" ng-model="selectedUFR.selected" theme="selectize"   ng-change="setUfr(selectedUFR.selected)" style="width: 300px;"> 
                      <ui-select-match placeholder="Choisir une UFR...">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="ufrKey in ufrKeys| filter: $select.search">
                        <span ng-bind-html="ufrKey.name | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select> 
                </div>
                <!-- LIVRE -->
                <div style="height:370px;" class="col-md-3 text-center bookWarp"  ng-repeat="topBookByUfr in ByUfr_books.values | limitTo:4">
                    <a href="#/livre?biblionumber={{topBookByUfr.biblionumber}}">
                    <div class="bookFront center-block" style=
                    "background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%), url({{bookCover.cover.LargeImage}}) center, #febd17; background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%),url({{ByUfr_booksCover[topBookByUfr.biblionumber].LargeImage}}) center, #febd17; background-size:cover;">
                    </div>
                    <h4>{{topBookByUfr.title}}</h4>
                    Prêts : {{topBookByUfr.issuesTotal}}</a>
                </div>
                <!-- END LIVRE -->
            </div>
            <footer class="col-md-12 viz-footer text-center">
                <span class="legend">Période :</span> <span class=
                "period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <!-- LIVRES PLUS POPULAIRES -->

        <!-- STATS PAR UFR -->
        <div class="row">
            <div class="col-md-12 cartouche">
                <div class="col-md-8">
                    <h3>Statistiques par UFR</h3>
                </div>
                <div class="col-md-4">
                    <ui-select class="pull-right" ng-model="selectedUFR.selected" theme="selectize"   ng-change="setUfr(selectedUFR.selected)" style="width: 300px;"> 
                      <ui-select-match placeholder="Choisir une UFR...">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="ufrKey in ufrKeys| filter: $select.search">
                        <span ng-bind-html="ufrKey.name | highlight: $select.search"></span>
                      </ui-select-choices>
                    </ui-select>                     
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">
                            <h5>Nombre de prêts</h5>
                            <span class="value">{{ByUfr_issues_numbers}}</span>
                    </div>
                    <div ng-controller="LinechartCtrl" class="col-md-10">
                            <nvd3-line-chart
                            data="issues_ufrOnlyUfr"
                            height="150"
                            y="yFunctionUFR()"
                            x="xFunctionUFR()"
                            margin="{left:80,top:15,bottom:30,right:80}"
                            interactive="true"
                            tooltips="true"
                            showXAxis="true"
                            showYAxis="true"
                            xAxisTickFormat="xAxisTickFormatFunction()"
                            tooltipcontent="toolTipContentFunctionUFR()"
                            color="colorFunction()"
                            >
                            <svg></svg>
                            </nvd3-line-chart>
                    </div>
                    <div ng-controller="MultibarhorizchartCtrl" class="col-md-6">
                            <h4>Nombre de prêts par secteur</h4>
                            <nvd3-multi-bar-horizontal-chart
                            data="ByUfr_ccode"
                            id="ByUfr_ccode"
                            height="400"
                            margin="{left:120,top:5,bottom:50,right:50}"
                            y="yFunction()"
                            x="xFunction()"
                            showXAxis="true"
                            showValues="true"
                            color="color_schem()"
                            >
                            <svg></svg>
                            </nvd3-multi-bar-horizontal-chart>
                    </div>
                    <div ng-controller="PiechartCtrl" class="col-md-6">
                            <h4>Profil lecteurs</h4>
                            <div class="col-md-6">
                                <h5>Nombre de lecteurs</h5>
                                <span class="value">{{ByUfr_borrowers_numbers}}</span>
                                <h5>Répartition par sexe</h5>
                                <nvd3-pie-chart
                                data="ByUfr_borrowers_sex"
                                id="ByUfr_borrowers_sex"
                                margin="{left:0,top:10,bottom:10,right:0}"
                                class="width-150"
                                x="xFunction()"
                                y="yFunctionBorrowersUfr()"
                                width="150"
                                tooltips="true"
                                showValues="true"
                                showLabels="true"
                                donut="true"
                                interactive="true"
                                donutLabelsOutside="false"
                                color="color_schem()"
                                legend="true"
                                >
                                <svg></svg>
                                </nvd3-pie-chart>                                    
                            </div>
                            <div class="col-md-6">
                                <h5>Nombre de prêts par lecteur</h5>
                                <span class="value">
                            {{(ByUfr_issues_numbers/ByUfr_borrowers_numbers)| number:2}}
                                </span>
                                <h5>âge moyen du lecteurs</h5>
                                <span class="value">{{ByUfr_borrowers_age}}</span>
                            </div>
                    </div>
                </div>
            </div>
            <footer class="col-md-12 viz-footer text-center">
                <span class="legend">Période :</span> <span class=
                "period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <!-- END STATS PAR UFR -->
    </div>
</section>
<section id='top'>
    <div class="container">
        <!-- TOP PRETS  -->

        <div class="row col-md-12 cartouche">
            <h2 class='text-center'>Se concentrer sur les livres et leurs auteurs</h2>

            <div class='col-md-6'>
                <h4>Quels sont les livres les plus empruntés à Paris 8? </h4>
                <p>La plateforme Prévu permet suivre et de visualiser les statistiques propres à chaque livre ou auteur emprunté.</p>
            </div>
            <div class='col-md-6'>
                <p>Des listes thématiques d'auteurs, de livres, de films... peuvent être régulièrement mises à jour pour mettre en avant certains fonds du catalogue comme la liste de personnalités marquantes pour l'histoire de Paris 8 que nous proposons ci-dessous.</p>
            </div>
            <h3 class='col-md-12 text-center'>Les livres les plus empruntés</h3>
            <div class="col-md-10">   
            </div>
            <div class="col-md-2">
<!--                 Filtrer par discipline : <select>
                    <option value="{{ccode.ccode}}">
                        {{ccode.ccode}}
                    </option>
                </select> -->
            </div>

            <div style="height:400px;" class="col-md-3 text-center bookWarp"  ng-repeat="book in topBooks | filter:{ccode: selecteds} | limitTo : 8">
                <!-- http://jsfiddle.net/JefClaes/HPu9n/9/ -->
                <a href="#/livre?biblionumber={{book.biblionumber}}">
                <div class="header">
                    <h4>{{book.title}}</h4>    
                </div>
                
                <div class="bookFront center-block" style=
                "background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%), url({{bookCover.cover.LargeImage}}) center, #febd17; background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%),url({{topBooksCovers[book.biblionumber].LargeImage}}) center, #febd17; background-size:cover;">
                </div>
                <p>
                    <span>Date de publication : {{book.publicationyear}}</span><br/>
                    <span>Prêts : <span class="value-text">{{book.issues}}</span> </span><br/>
                    <span>Catégorie : {{book.ccode}}</span>
                </p></a>
            </div>
        </div>
        <!-- END TOP PRETS  -->
    </div>
</section>
<section id="personnalite" class="container">
    <!-- AUTEURS -->
    <div class="row col-md-12 text-center">
        <h3>Personnalités marquantes de Paris 8</h3>
        <div class="col-md-3">
            <a href="#/auteur?nom=Deleuze&prenom=Gilles">
                <h4>Gilles Deleuze</h4>
                <div class="figure">
                    <img class="img-responsive" src="images/auteur/deleuze.jpg" />
                </div>
                <p>Prêts : 1208 Documents empruntés : 54</p>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#/auteur?nom=Cixous&prenom=Hélène">
            <h4>Hélène Cixous</h4>
            <div class="figure">
                <img class="img-responsive" src="images/auteur/cixous.jpg" />
            </div>
            </a>
            <p>Prêts : 144 Documents empruntés : 45</p>
        </div>

        <div class="col-md-3">
            <div class="auteur">
                <a href="#/auteur?nom=Foucault&prenom=Michel">
                    <h4>Michel Foucault</h4>
                    <div class="figure">
                        <img class="img-responsive" src="images/auteur/foucault.jpg"/>
                    </div>
                    <p>Prêts : 1129 Documents empruntés : 55</p>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <a href="#/auteur?nom=Macciocchi&prenom=Maria%20Antonietta">
            <h4>Maria Macciocchi</h4>
            <div class="figure">
                <img class="img-responsive" src="images/auteur/macciocchi.jpg" />
            </div>

            <p>Prêts : 9 Documents empruntés : 4</p></a>
        </div>
    </div>
    <!-- END AUTEURS -->
</section>
<section id="explorer">
    <div class="video-container">
        <video id="video"  poster="http://localhost:8888/prevu/application/app/images/video_cover.jpg" style="width:100%;" autoplay loop>
            <source id="mp4" src="http://localhost:8888/prevu/application/app/video/bu.mp4" type="video/mp4">
<!--             <source id="mp4" src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4">
             <source id="webm" src="http://media.w3.org/2010/05/sintel/trailer.webm" type="video/webm">
             <source id="ogv" src="http://media.w3.org/2010/05/sintel/trailer.ogv" type="video/ogg"> -->
            <p>Attention votre matériel ne permet pas l'utilisation de l'élément video HTML5.</p>
        </video>
    </div>

    <div class="container">
        <!-- EXPLORER -->
        <div class="row text-center">
            <div id="explorer-scroll" class="col-md-12">
                <h1>Explorer les données de prêts</h1>
                <p>Au delà des potentiels présentés ci-dessus, la plateforme Prévu permet à chaque utilisateur d'explorer directement, pour chaque auteur ou pour chaque livre, les données de prêts qui lui sont associées. Tous les livres ou auteurs présents à la BU de Paris 8, à partir du moment où ils ont été empruntés au moins une fois, sont disponibles dans la plateforme.</p>
            </div>
            <div class="col-md-6">
                <button class="btn btn-1 btn-1a">
                    <a href="#/auteur">Par Auteur</a>
                </button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-1 btn-1a">
                    <a href="#/livre">Par Livre</a>
                </button>
            </div>
        </div>
        <!-- EXPLORER -->
    </div>
</section>
<footer class="footer-end">
    <div class="container">
        <div class="col-md-5">
            <h3>Soutenu par</h3>
                <div class="col-md-6 text-center">
                    <a href="http://www.labex-arts-h2h.fr/">
                        <img src="images/logo/labex_web-develop-bleu-sombre.png" class="img-responsive" />
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <img src="images/logo/logop8_blanc.png" class="img-responsive" />                
                </div>     
                    <div class="col-md-4">
                    <img src="images/logo/avenir.png" style="margin-top:20px;" class="img-responsive"  />    
                </div>
               


        </div>
        <div class="col-md-5">
            <h3>Partenaires</h3>
            <ul> 
                <li>- <a href="http://citu.fr">CiTu - Paragraphe - EA 349 (Paris 8)</a></li>
                <li>- <a href="www.bu.univ-paris8.fr/">Bibliothèque Universitaire de Paris 8</a></li>
                <li>- <a href="https://www.umich.edu/">University of Michigan</a></li>
                <li>- <a href="http://www.ensad.fr/">Ecole nationale supérieure des Arts Décoratifs (Paris)</a></li>
                <li>- <a href="http://www.campus-condorcet.fr/">Campus Condorcet (Paris)</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Prévu</h3>
            v.0.7 <br/>
            <a href="#/about">About</a>


        </div>
    </div>    
</footer>

<script>
function presentation(){
    url='#presentation'
    window.location = url;
}

function init(){
    $("#viz_sex").hide();
    $("#viz_sex2").hide();
    $("#viz_sex3").hide();          
}

function launchViz(_nameId){
    $(_nameId).fadeIn(1000);
}

function clearViz(_nameId){
    $(_nameId).hide();
}

init();

</script>

