<!-- ng-controller="MainCtrl" -->
    <!-- HEADER  -->
<header>
    <div class="container">
        <div id="head-home" class="row head-line">
            <div class="col-md-12 text-center">
                <h1>Visualiser les données de prêts d'une bibliothèque universitaire</h1><br/>
                <div class="col-md-offset-2 col-md-8">
                    <p class='content'>La plateforme <span class='value-text'>Prévu</span> (« prêts vus ») vise à ouvrir l'acccès aux données de la <a href='http://www.bu.univ-paris8.fr/' target='_blank'>bibliothèque universitaire de Paris 8 (BU)</a> par le biais de visualisations tout en respectant la confidentialité des utilisateurs.</p>
                    <p class='content'>La BU de Paris 8 à Saint-Denis compte plus de 400 000 documents. Située à Saint-Denis, au coeur de l’université, elle est accessible à tout étudiant ou à toute personne majeure.</p>
                </div>
                <div class="col-md-12">
                <!-- mettre une fonction onclick surles boutons pour emmener aux ancres concernées -->
                    <button type='button' class="btn btn-default" onclick='presentation();'>Présentation du projet</button>
                    <button type='button' class="btn btn-default">Accéder au service</button>
                </div>                
            </div>

            </div>
        </div>
    </div>
</header>    
    <!-- END HEADER  -->
<section  id="general" class="container">
    <!-- CORPUS -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>La bibliothèque par ses données</h2>
        </div>
        <div class='col-md-6'>
            <p class="content">Les données globales de la bibliothèque, c'est à dire les données qui concernent des informations générales se situant à un niveau très macro (par exemples : l'ensemble des emprunteurs, l'ensemble des prêts effectués, la répartition des genres pour l'ensemble des prêts effectués) permettent de rendre compte des grands phénomènes qui marquent la vie de la bibliothèque mais aussi par ricochet de l'université.</p>
        </div>
        <div class='col-md-6 info'>
            <h3>Rythmes universitaires</h3>
            <p>Chaque année, la vie universitaire est marquée par le changement de semestre et par les périodes d'examen. Les prêts de la BU de Paris 8 mettent immédiatement en évidence les reprises de semestre (mois d'octobre et de février). Les prêts suivent les mêmes tendances.</p>
        </div>

        <!-- HISTORIQUE PRET -->
        <div class="head-line col-md-12">
            <head>
                <h3 class="text-center">Historique des prêts</h3>
            </head>
            <div class="cartouche" ng-controller="DiscretebarchartCtrl">
                <nvd3-line-chart
                data="statsIssuesAllByMonth"
                height="300"
                y="yFunctionIssues()"
                x="xFunctionIssues()"
                margin="{left:80,top:15,bottom:30,right:80}"
                interactive="true"
                tooltips="true"
                showXAxis="true"
                showYAxis="true"
                xAxisTickFormat="xAxisTickFormatFunction()"
                tooltipcontent="toolTipContentFunction()"
                color="colorFunction()"
                >
                <svg></svg>
                </nvd3-line-chart>
            </div>
            <footer class="col-md-12 viz-footer">
                <span class="legend">Période :</span>
                <span class="period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <!-- HISTORIQUE PRET END -->
</section>

<!-- Biblio -->
<section id="biblio" class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="cartouche abstract">
                <h3>Livres empruntés</h3>
                <span>au moins une fois</span>
                <h4><span class="value">153 331</span></h4>
                <div ng-controller="LinechartCtrl">
                    <nvd3-line-chart
                    data="books_count_graph"
                    height="130"
                    y="yFunction()"
                    x="xFunction()"
                    margin="{left:7,top:5,bottom:0,right:7}"
                    interactive="true"
                    forcey="[41500,45000]"
                    tooltips="true"
                    tooltipcontent="toolTipContentFunction()"
                    color="colorFunction()"
                    ><svg></svg>
                    </nvd3-line-chart>
                </div>
            </div>
            <footer class="viz-footer">
                <span class="legend">Période :</span> <span class=
                "period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <div class="col-md-4 text-center">
            <div class="cartouche abstract">
                <h3>Nombre de Prêts</h3>
                <span>sur l'ensemble de la période</span>
                <h4><span class="value">324 401</span></h4>
                <div ng-controller="LinechartCtrl">
                        <nvd3-line-chart
                        data="issues_count_graph"
                        height="130"
                        y="yFunction()"
                        x="xFunction()"
                        margin="{left:7,top:5,bottom:0,right:7}"
                        interactive="true"
                        forcey="[75000,85000]"
                        tooltips="true"
                        tooltipcontent="toolTipContentFunction()"
                        color="colorFunction()"
                        >
                        <svg></svg>
                        </nvd3-line-chart>
                </div>
            </div>
            <footer class="viz-footer">
                <span class="legend">Période :</span> <span class=
                "period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <div class="col-md-4 info">
            <h3 class='text-center'>Moins d'emprunteurs mais plus d'emprunts</h3>
            <p>Bien que le nombre de lecteurs et de prêts aient diminué entre les semestres de l’année universitaire 2012-2013, le nombre total de prêts total a progressé passant de <span class='value-text'>81257</span> à <span class='value-text'>82 762</span>.</p>
            <p>Il y a donc moins d'emprunteurs, mais dans l'ensemble, ils empruntent plus de documents.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Les prêts seulement</h3>
            <p>Prévu ne prend en compte tous les documents que possèdent la bibliothèque universitaire, il ne considère que les documents qui ont été empruntés au moins une fois. Ce choix à la fois éditorial et technique nous permet d'optimiser nos requêtes tout en resserant notre corpus sur les prêts.</p>
        </div>
        <div class="col-md-4 text-center">
            <div class="cartouche abstract">
                <h3 style="margin-top:0px;">Lecteurs Actifs</h3>
                <span>ayant pris au moins un livre</span>
                <h4><span class="value">32 449</span></h4>
                <div ng-controller="LinechartCtrl">
                    <nvd3-line-chart
                    data="borrowers_count_graph"
                    height="130"
                    y="yFunction()"
                    x="xFunction()"
                    margin="{left:7,top:5,bottom:0,right:7}"
                    interactive="true"
                    forcey="[9300,10500]"
                    tooltips="true"
                    tooltipcontent="toolTipContentFunction()"
                    color="colorFunction()"
                    >
                    <svg></svg>
                    </nvd3-line-chart>
                </div>
            </div>
            <footer class="viz-footer">
                <span class="legend">Période :</span> <span class="period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <div class="col-md-4">
            <h3>Incongruités & Créativité</h3>
            <p>Parfois, la plateforme permet de faire remonter des informations qui semblent intéressantes mais dont nous ne savons pas encore quoi faire, par exemple, nous savons que la moyenne d'âge des emprunteurs est de <span class=
            "value-text">{{borrowers_age}}</span> ans. Ces informations permettent d'imaginer de nouveaux scénarios.</p>
        </div>
    </div>
    <!-- END CORPUS -->
</section>
<!-- END Biblio -->

<!-- GENRE -->
<section id="genre">
    <div class="container">
         <div class='col-md-12 text-center' id='IF_sex'>
            <h2>Genre et bibliothèque</h2>
            <p>Pensez-vous qu'il soit normal de prendre en compte le sexe des lecteurs pour une bibliothèque?</p>
            <button class='btn' onclick="clearViz('#viz_sex2');launchViz('#viz_sex');">Oui</button>
            <button class='btn' onclick="clearViz('#viz_sex');launchViz('#viz_sex2')">Non</button>
        </div>
        <div class='col-md-12'>
            <div id='viz_sex'>
                <div class='col-md-8'>
                    <p>La grande majorité des lecteurs actifs de la BU de Paris 8 sont des femmes. Il est à noter que cela ne signifie pas que la répartition homme femme de tous les lecteurs potentiels (c'est à dire ceux qui remplissent les conditions d'inscription à la bibliothèque) soient le même. Les lecteurs actifs représentent tous les lecteurs qui ont déjà empruntés au moins un ouvrage.</p>
                    <p>Il est possible de manifester ce ratio à différents niveaux : pour les ouvrages, les secteurs, les niveaux d'étude... Nous avons par exemple, pour l'instant choisi de montrer pour chaque ouvrage le sexe des emprunteurs.</p> 
                    <p>Pour continuer notre présentation, nous vous proposons de continuer en nous intéressant justement aux lecteurs qui en empruntant contribuent à faire vivre la bibliothèque et génèrent les données.</p>
                </div>
                <div ng-controller="PiechartCtrl" class="col-md-4 text-center cartouche abstract" >
                    <h3>Répartition des prêts par sexe</h3>
                    <nvd3-pie-chart
                    class="width-home"
                    data="borrowers_sex"
                    margin="{left:0,top:10,bottom:10,right:0}"
                    x="xFunction()"
                    y="yFunctionBorrowersUfr()"
                    width="200"
                    tooltips="true"
                    showValues="true"
                    showLabels="true"
                    donut="true"
                    interactive="true"
                    donutLabelsOutside="false"
                    color="color_schem()"
                    >
                    <svg></svg>
                    </nvd3-pie-chart>

                    <ul class="chart-legende">
                        <li ng-repeat="borrower_sex in borrowers_sex"><object data="images/profile.svg" type="image/svg+xml">
                            <img alt="profile" src="images/profile.svg">
                        </object> {{borrower_sex.sex}} :
                        {{borrower_sex.value}}</li>
                    </ul>    
                </div>
            </div>
            <div id='viz_sex2'>
                <div class='col-md-4'>
                    <h3>La question du genre</h3>
                    <p>La bibliothèque prend compte deux genres : hommes et femmes. Il est intéressant de se servir d'une plateforme commme Prévu pour se demander à quel point la distinction homme/ femme est importante ou non à relever. Certains détracteurs pourront, à juste titre, reprocher de ne pas proposer de catégorie transgenre par exemple.</p>
                </div>
                <div class='col-md-4'><h3>Que doit-on montrer?</h3>
                    <p>Mettre en avant des inégalités est un premier moyen de les combattre, mais en même temps, trop insister sur des différences favorise les discriminations. Techniquement, il est à noté que les données propres au genre sont relativement faciles à exploiter, doit-on pour autant toujours les mettre en avant?</p> 
                </div>
                <div class='col-md-4'>
                    <p>A travers ce premier volet du projet, nous cherchons à mettre en avant les pistes de réflexion que peut susciter Prévu, nous espérons pouvoir, avec le travail autour de l'exploitation des données de genre, favoriser l'essor de visualisations originales et utiles et en même temps, dans le cadre des digital humanities et  de leur interdisciplinarité lancer des pistes de réfléxion notamment avec les <i>Gender Studies</i>. </p>
                </div>
            </div>
        </div>   
    </div>
</section>
<!-- END GENRE -->

<section>
    <div class="container">
        <!-- TWO PIE -->
        <div class="row">
            <head class="head-line col-md-12">
                <h2 class='text-center'>Connaître les lecteurs</h2>
            </head>
            <div class="col-md-6">
                <p>Depuis février 2012, <span class='value-text'>32449</span> lecteurs ont emprunté au moins un ouvrage à la BU de Paris 8. Qui sont ses lecteurs : sont-il étudiants?  de quels UFR et départements proviennent-ils? quel est leur niveau d'étude? quand empruntent-ils?</p>
            </div>
            <div class="col-md-6">
                <p>Tout en respectant l'anonymat des utilisateurs, nous proposons plusieurs représentations graphiques et corrélations visant à montrer les potentiels informationnels de la plateforme qui concernent les emprunteurs de bibliothèque universitaire.</p>
            </div>
        </div>
        <div class="row">
            <div ng-controller="PiechartCtrl" class="col-md-6 text-center">
                <div class="cartouche abstract">
                    <h3>Répartition des prêts par type de prêts</h3>
                    <nvd3-pie-chart
                    class="width-400"
                    data="issues_categoryCode"
                    margin="{left:0,top:10,bottom:10,right:0}"
                    x="xFunctionLabelTypePret()"
                    y="yFunctionBorrowersUfr()"
                    width="400"
                    tooltips="true"
                    showValues="true"
                    showLabels="true"
                    donut="true"
                    interactive="true"
                    donutLabelsOutside="true"
                    color="color_viz()"
                    >
                    <svg></svg>
                    </nvd3-pie-chart>
                </div>
                <footer class="viz-footer">
                    <span class="legend">Période :</span> <span class=
                    "period">2012-02-01 - 2014-02-01</span>
                </footer>
                <h4>Les types de prêts</h4>
                <p>Il existe plusieurs informations concernant l'orgine des lecteurs. La représentation ci-dessus permet de voir de quel type de prêt il est question. Les prêts "normaux" qui concernent principalement les étudiants de licence sont à distinguer des prêts longs généralement liés aux étudiants de Master, des prêts "doctorants", du prêt entre bibliothèque (PEB)...</p>
            </div>
            <div class="col-md-6 text-center">
                <div class="cartouche abstract">
                    <h3>Nombre de prêts par Ufr</h3>
                    <div ng-controller="MultibarhorizchartCtrl" >
                        <nvd3-multi-bar-horizontal-chart
                        data="issues_UfrRepartition"
                        height="400"
                        margin="{left:300,top:5,bottom:50,right:15}"
                        y="yFunction()"
                        x="xFunctionUfr()"
                        showXAxis="true"
                        showValues="true"
                        color="color_schem()"
                        >
                        <svg></svg>
                        </nvd3-multi-bar-horizontal-chart>
                    </div>
                </div>
                <footer class="viz-footer">
                    <span class="legend">Période :</span> <span class=
                    "period">2012-02-01 - 2014-02-01</span>
                </footer>
                <h4>Les unités de formation et de recherche (UFR)</h4>
                <p>Avec Prévu, il est également possible de connaître l'UFR d'origine des emprunteurs. La représentation graphique ci-dessus montre la domination de l'UFR Arts, Philosophie, Esthétique en terme de nombre d'emprunts. Toutefois ces données sont à relativisées car elles mériteraient d'être mise en lien avec le nombre total d'étudiants inscrit dans chaque UFR. </p>            
            </div>
        </div>
        <!-- END TWO PIE -->

        <!-- REPARTION NIVEAU -->
        <div class="row">
            <div class="col-md-12 cartouche">
                <head>
                    <div class="col-md-10">
                        <h3>Répartitions des Niveaux par Mois</h3>
                    </div>
                    <div class="col-md-2">
                        <ui-select ng-model="selectedSemestre" theme="selectize"  ng-change="setSemestre_issues_niveau_light(selectedSemestre)" style="width: 150px;"> 
                          <ui-select-match placeholder="Choisir un semestre...">{{$select.selected.name}}</ui-select-match>
                          <ui-select-choices repeat="semestre in semestres| filter: $select.search">
                            <span ng-bind-html="semestre.name | highlight: $select.search"></span>
                          </ui-select-choices>
                        </ui-select> 
                    </div>
                </head>
                <div ng-controller="StackedareachartCtrl" class="col-md-12">
                    <nvd3-multi-bar-chart
                    data="issues_niveau_light"
                    showXAxis="true"
                    showYAxis="true"
                    y="yFunction()"
                    x="xFunction()"
                    height="400"
                    margin="{left:80,top:50,bottom:50,right:50}"
                    interactive="true"
                    yAxisTickFormat="yAxisTickFormatFunction()"
                    xAxisTickFormat="xAxisTickFormatFunction()"
                    tooltips="true"
                    showLegend="true"
                    showControls="true"
                    color="color_viz()"
                    legendColor="color_viz()"
                    >
                    <svg></svg>
                    </nvd3-multi-bar-chart>
                </div>
            </div>
            <footer class="col-md-12 viz-footer">
                <span class="legend">Période : </span>
                <span class="period">2012-02-01 - 2014-02-01</span>
            </footer>
        </div>
        <!-- END REPARTION NIVEAU -->
        <h3 class="text-center">Répartion géographique des lecteurs actifs</h3>
    </div>
    <img src="images/heatmap.jpg" class="img-responsive map" />
</section>
    <hr/>
<section class="container">
    <h2 class="text-center">Focus par UFR</h2>
    <!-- LIVRES PLUS POPULAIRES -->
    <div class="row">
        <div class="col-md-12 cartouche">
            <div class="col-md-8">
                <h3>Livres les plus populaires par Ufr</h3>
            </div>
            <div class="col-md-4">
                <ui-select class="pull-right" ng-model="selectedUFR.selected" theme="selectize"   ng-change="setUfr(selectedUFR.selected)" style="width: 300px;"> 
                  <ui-select-match placeholder="Choisir une UFR...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="ufrKey in ufrKeys| filter: $select.search">
                    <span ng-bind-html="ufrKey.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select> 
            </div>
            <!-- LIVRE -->
            <div style="height:370px;" class="col-md-3 text-center bookWarp"  ng-repeat="topBookByUfr in ByUfr_books.values | limitTo:4">
                <a href="#/livre?biblionumber={{topBookByUfr.biblionumber}}">
                <div class="bookFront center-block" style=
                "background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%), url({{bookCover.cover.LargeImage}}) center, #febd17; background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%),url({{ByUfr_booksCover[topBookByUfr.biblionumber].LargeImage}}) center, #febd17; background-size:cover;">
                </div>
                <h4>{{topBookByUfr.title}}</h4>
                Prêts : {{topBookByUfr.issuesTotal}}</a>
            </div>
            <!-- END LIVRE -->
        </div>
        <footer class="col-md-12 viz-footer">
            <span class="legend">Période :</span> <span class=
            "period">2012-02-01 - 2014-02-01</span>
        </footer>
    </div>
    <!-- LIVRES PLUS POPULAIRES -->

    <!-- STATS PAR UFR -->
    <div class="row">
        <div class="col-md-12 cartouche">
            <div class="col-md-8">
                <h3>Statistiques par UFR</h3>
            </div>
            <div class="col-md-4">
                <ui-select class="pull-right" ng-model="selectedUFR.selected" theme="selectize"   ng-change="setUfr(selectedUFR.selected)" style="width: 300px;"> 
                  <ui-select-match placeholder="Choisir une UFR...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="ufrKey in ufrKeys| filter: $select.search">
                    <span ng-bind-html="ufrKey.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>                     
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                        <h5>Nombre de prêts</h5>
                        <span class="value">{{ByUfr_issues_numbers}}</span>
                </div>
                <div ng-controller="LinechartCtrl" class="col-md-10">
                        <nvd3-line-chart
                        data="issues_ufrOnlyUfr"
                        height="150"
                        y="yFunctionUFR()"
                        x="xFunctionUFR()"
                        margin="{left:80,top:15,bottom:30,right:80}"
                        interactive="true"
                        tooltips="true"
                        showXAxis="true"
                        showYAxis="true"
                        xAxisTickFormat="xAxisTickFormatFunction()"
                        tooltipcontent="toolTipContentFunctionUFR()"
                        color="colorFunction()"
                        >
                        <svg></svg>
                        </nvd3-line-chart>
                </div>
                <div ng-controller="MultibarhorizchartCtrl" class="col-md-6">
                        <h4>Nombre de prêts par secteur</h4>
                        <nvd3-multi-bar-horizontal-chart
                        data="ByUfr_ccode"
                        id="ByUfr_ccode"
                        height="400"
                        margin="{left:120,top:5,bottom:50,right:50}"
                        y="yFunction()"
                        x="xFunction()"
                        showXAxis="true"
                        showValues="true"
                        color="color_schem()"
                        >
                        <svg></svg>
                        </nvd3-multi-bar-horizontal-chart>
                </div>
                <div ng-controller="PiechartCtrl" class="col-md-6">
                        <h4>Profil lecteurs</h4>
                        <h5>Nombre de prêts par lecteur</h5>
                        <span class="value">
                        {{(ByUfr_issues_numbers/ByUfr_borrowers_numbers)| number:2}}
                        </span>
                        <h5>Nombre de lecteurs</h5>
                        <span class="value">{{ByUfr_borrowers_numbers}}</span>
                        <nvd3-pie-chart
                        data="ByUfr_borrowers_sex"
                        id="ByUfr_borrowers_sex"
                        margin="{left:0,top:10,bottom:10,right:0}"
                        x="xFunction()"
                        y="yFunctionBorrowersUfr()"
                        width="300"
                        tooltips="true"
                        showValues="true"
                        showLabels="true"
                        donut="true"
                        interactive="true"
                        donutLabelsOutside="false"
                        color="color_schem()"
                        legend="true"
                        >
                        <svg></svg>
                        </nvd3-pie-chart>
                        <h5>âge moyen du lecteurs</h5>
                        <span class="value">{{ByUfr_borrowers_age}}</span>
                </div>
            </div>
        </div>
        <footer class="col-md-12 viz-footer">
            <span class="legend">Période :</span> <span class=
            "period">2012-02-01 - 2014-02-01</span>
        </footer>
    </div>
    <!-- END STATS PAR UFR -->
</section>
    <hr />
<section class="container">

    <!-- TOP PRETS  -->
    <div class="row col-md-12 cartouche">
        <div class="col-md-10">
            <h2>Livre les plus empruntés</h2>
        </div>
        <div class="col-md-2">
            Filtrer par discipline : <select>
                <option value="{{ccode.ccode}}">
                    {{ccode.ccode}}
                </option>
            </select>
        </div>

        <div style="height:500px;" class="col-md-3 text-center bookWarp"  ng-repeat="book in topBooks | filter:{ccode: selecteds} | limitTo : 8">
            <!-- http://jsfiddle.net/JefClaes/HPu9n/9/ -->
            <a href="#/livre?biblionumber={{book.biblionumber}}">
            <h4>#{{book.top}} - {{book.title}}</h4>
            <h6>{{book.author_nom}}, {{book.author_prenom}} -
            {{book.author_date}}</h6>
            <div class="bookFront center-block" style=
            "background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%), url({{bookCover.cover.LargeImage}}) center, #febd17; background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(211, 211, 211, 0.1) 5%, rgba(255, 255, 255, 0.15) 5%, rgba(255, 255, 255, 0.1) 9%, rgba(0, 0, 0, 0.01) 100%),url({{topBooksCovers[book.biblionumber].LargeImage}}) center, #febd17; background-size:cover;">
            </div>
            <p><span>Date de publication : {{book.publicationyear}}</span><br/>
            <span>Prêts : {{book.issues}}</span><br/>
            <span>ccode : {{book.ccode}}</span>
            </p></a>
        </div>
    </div>
    <!-- END TOP PRETS  -->
</section>
<hr/>
<section class="container">
    <!-- AUTEURS -->
    <div class="row col-md-12 text-center">
        <h1>Auteurs</h1>
        <div class="col-md-3">
            <a href="#/auteur?nom=Deleuze&prenom=Gilles">
                <h4>Gilles Deleuze</h4>
                <div class="figure">
                    <img class="img-responsive" src="images/auteur/deleuze.jpg" />
                </div>
                <p>Prêts : 1208 Documents empruntés : 54</p>
            </a>
        </div>

        <div class="col-md-3">
            <a href="#/auteur?nom=Cixous&prenom=Hélène">
            <h4>Hélène Cixous</h4>
            <div class="figure">
                <img class="img-responsive" src="images/auteur/cixous.jpg" />
            </div>
            </a>
            <p>Prêts : 144 Documents empruntés : 45</p>
        </div>

        <div class="col-md-3">
            <div class="auteur">
                <a href="#/auteur?nom=Foucault&prenom=Michel">
                    <h4>Michel Foucault</h4>
                    <div class="figure">
                        <img class="img-responsive" src="images/auteur/foucault.jpg"/>
                    </div>
                    <p>Prêts : 1129 Documents empruntés : 55</p>
                </a>
            </div>
        </div>

        <div class="col-md-3">
            <a href="#/auteur?nom=Macciocchi&prenom=Maria%20Antonietta">
            <h4>Maria Macciocchi</h4>
            <div class="figure">
                <img class="img-responsive" src="images/auteur/macciocchi.jpg" />
            </div>

            <p>Prêts : 9 Documents empruntés : 4</p></a>
        </div>
    </div>
    <!-- END AUTEURS -->
</section>
    <hr/>
<section class="container">
    <!-- EXPLORER -->
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Explorer</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-6">
            <button class="btn btn-1 btn-1a">
                <a href="#/auteur">Par Auteur</a>
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-1 btn-1a">
                <a href="#/livre">Par Livre</a>
            </button>
        </div>
    </div>
    <!-- EXPLORER -->    
</section>
<footer class="footer-end">
    <div class="container">
        <div class="col-md-5">
            <h3>Soutenu par</h3>
                <div class="col-md-6 text-center">
                    <a href="http://www.labex-arts-h2h.fr/">
                        <img src="images/logo/labex_web-develop-bleu-sombre.png" class="img-responsive" />
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <img src="images/logo/logop8_blanc.png" class="img-responsive" />                
                </div>     
                    <div class="col-md-4">
                    <img src="images/logo/avenir.png" style="margin-top:20px;" class="img-responsive"  />    
                </div>
               


        </div>
        <div class="col-md-5">
            <h3>Partenaires</h3>
            <ul> 
                <li>- <a href="http://citu.fr">CiTu - Paragraphe - EA 349 (Paris 8)</a></li>
                <li>- <a href="www.bu.univ-paris8.fr/">Bibliothèque Universitaire de Paris 8</a></li>
                <li>- <a href="https://www.umich.edu/">University of Michigan</a></li>
                <li>- <a href="http://www.ensad.fr/">Ecole nationale supérieure des Arts Décoratifs (Paris)</a></li>
                <li>- <a href="http://www.campus-condorcet.fr/">Campus Condorcet (Paris)</a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3>Prévu</h3>
            v.0.7 <br/>
            <a href="#/about">About</a>


        </div>
    </div>    
</footer>

<script>
function presentation(){
    url='#presentation'
    window.location = url;
}

function init(){
    $("#viz_sex").hide();
    $("#viz_sex2").hide();
    $("#viz_sex3").hide();          
}

function launchViz(_nameId){
    $(_nameId).fadeIn(1000);
}

function clearViz(_nameId){
    $(_nameId).hide();
}

init();

</script>

