
<!-- ng-controller="MainCtrl" -->
<div class="">

  <div ng-repeat="statMain in statsMain" class="row">

<!--     <select ng-model="selected_book_count">
      <option ng-repeat="date in statMain.books_count"  value="{{date.id}}">{{date.name}}
      </option>
    </select> -->
    <div class="col-md-4">
      <h3>Livres empruntés</h3>
      <h4><span class="value">153 331</span></h4>
      <div ng-repeat="books in statMain.books_count | orderBy:value">
        <h6>{{books.name}} </h6>
        <span class="value">{{books.value}}</span>
      </div>   
    </div>
    <div class="col-md-4">
      <h3>Nombre de Prêts</h3>
      <h4><span class="value">324 401</span></h4>
      <div ng-repeat="issues in statMain.issues_count | orderBy:value">
        <h6>{{issues.name}} </h6>
        <span class="value">{{issues.value}}</span>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Lecteurs Actifs</h3>
      <h4><span class="value">32 449</span></h4>     
      <div ng-repeat="books in statMain.borrowers_count | orderBy:value">
        <h6>{{books.name}}</h6> <span class="value">{{books.value}}</span>
      </div>
    </div>




  </div>

  <div ng-controller="StackedareachartCtrl">
        <nvd3-stacked-area-chart
        data="issues_ufr" 
          id="statMain_issues_ufr"
        showXAxis="true"
        showYAxis="true"
          y="yFunction()"
          x="xFunction()"
          height="400"
          margin="{left:80,top:50,bottom:30,right:50}"
          interactive="true"
          yAxisTickFormat="yAxisTickFormatFunction()"
          xAxisTickFormat="xAxisTickFormatFunction()"
          tooltips="true"
                  showLegend="true"
        showControls="true"
        useInteractiveGuideLine="true"
        >
            <svg></svg>
        </nvd3-stacked-area-chart>

                <nvd3-stacked-area-chart
        data="issues_niveau" 
          id="statMain_issues_niveau"
        showXAxis="true"
        showYAxis="true"
          y="yFunction()"
          x="xFunction()"
          height="400"
          margin="{left:80,top:50,bottom:30,right:50}"
          interactive="true"
          yAxisTickFormat="yAxisTickFormatFunction()"
          xAxisTickFormat="xAxisTickFormatFunction()"
          tooltips="true"
                  showLegend="true"
        showControls="true"
        useInteractiveGuideLine="true"
        >
            <svg></svg>
        </nvd3-stacked-area-chart>
    </div>
  

  <h2>Historique des prêts</h2>

  <h3>Par Mois</h3>
  <div ng-controller="DiscretebarchartCtrl">

    <nvd3-discrete-bar-chart 
        data="statsIssuesAllByMonth"
          id="yExample"
          margin="{left:80,top:50,bottom:30,right:50}"
          showXAxis="true"
          showYAxis="true"
          showValues="true"
          staggerLabels="true"
          height="300"
          tooltips="true"
          y="yFunction()"
          x="xFunction()"
          yAxisTickFormat="yAxisTickFormatFunction()"
          forcey="[2000,20000]"
          useInteractiveGuideLine="true">
            <svg ></svg>
      </nvd3-discrete-bar-chart>


  </div>


  <h3>Par jour</h3>
  <div ng-controller="LinefocuschartCtrl">
    <nvd3-line-with-focus-chart
          data="statsIssuesAllByDay"
          id=""
          height="400"
          height2="50"
          y="yFunction()"
          x="xFunction()"
          margin="{left:80,top:50,bottom:30,right:50}"
          yAxisTickFormat="yAxisTickFormatFunction()"
          xAxisTickFormat="xAxisTickFormatFunction()"
          x2AxisTickFormat="xAxisTickFormatFunction()"
          forcey="[0,1700]"
          interactive="true"
          tooltips="true"
          useInteractiveGuideLine="true">
         <svg ></svg>
    </nvd3-line-with-focus-chart>




  </div>
  <h3>Répartitions des Niveaux par Mois</h3>
  <div ng-controller="StackedareachartCtrl">

      <nvd3-stacked-area-chart
        data="issues_niveau_light" 
          id="statsIssuesAllByDayAverageNiveau"
        showXAxis="true"
        showYAxis="true"
          y="yFunction()"
          x="xFunction()"
          height="400"
          margin="{left:80,top:50,bottom:30,right:50}"
          interactive="true"
          yAxisTickFormat="yAxisTickFormatFunction()"
          xAxisTickFormat="xAxisTickFormatFunction()"
          tooltips="true"
                  showLegend="true"
        showControls="true"
        useInteractiveGuideLine="true"
        >
            <svg></svg>
        </nvd3-stacked-area-chart>

        <nvd3-multi-bar-chart
        data="issues_niveau_light"
        showXAxis="true"
        showYAxis="true"
        y="yFunction()"
        x="xFunction()"
        height="400"
        margin="{left:80,top:50,bottom:50,right:50}"
        interactive="true"
        staggerLabels="true"
        yAxisTickFormat="yAxisTickFormatFunction()"
        xAxisTickFormat="xAxisTickFormatFunction()"
        tooltips="true"
        showLegend="true"
        showControls="true">
          <svg></svg>
    </nvd3-multi-bar-chart>
  </div>


  <hr/>
  <h2>Top des prêts</h2>
  Filtrer par discipline :
  <select ng-model="selecteds">
      <option ng-repeat="ccode in stats.ccode"  value="{{ccode.ccode}}">{{ccode.ccode}}
      </option>
  </select>

  <div ng-repeat="topBooks in topBooksGroup" class="row">
    <div class="col-lg-4 col-md-4" ng-repeat="book in topBooks | filter:{ccode: selecteds}" >
        <h4>{{book.top}} - {{book.title}}</h4>
        <h6>{{book.author_nom}}, {{book.author_prenom}} - {{book.author_date}}</h6>
        <img width="250px" src='{{book.LargeImage}}'>
        <p>
        	<span>Date de publication : {{book.publicationyear}}</span><br/>
        	<span>Prêts : {{book.issues}}</span><br/>
          <span>ccode : {{book.ccode}}</span>
        </p>
        <br/><br/>  
    </div>
  </div> 
</div>

